@import "function";

/* light-background */
$colorBottom: hsl(0, 0%, 100%);
$colorTop: hsl(130, 39%, 51%);
$bg-verScu: hsl(130, 38%, 24%);
$color: hsl(129, 37%, 86%); 

/* dark-background */
$dark-background: #4c5058;
$dark-text: #d2e1dd;


.bgVerdeScu{
    background-color: $bg-verScu;

}
main{
     #first-cta {
         background: linear-gradient($colorTop,$colorBottom);   
         color: coloreTesto($colorTop);    
    }  
    #reviews{
        background: linear-gradient($color,$colorTop);
        color: coloreTesto($color);   
            
    }
     /* #services{
        background-color: #4f2777;
        color: coloreTesto(#4f2777);}   formattazione rapida esempio per funzione. Cambiare colore di &color */
    
};


